// COLORS
$color-primary-dark: #ae0b0b;
$color-primary-light: #a98a58;
$color-primary: #bd4136;

$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5663fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-error: #df3d32;

$color-background: rgba($color-white, 0.6);

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical-large: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
