header.header
  .header__logo-box
    img.header__logo(src="/img/logo-white.png" alt="Logo")
  .header__text-box 
    h1.heading-primary
      span.heading-primary--main Travesías
      span.heading-primary--sub.u-margin-top-small  camina hacia el encuentro
    a.btn.btn--white.btn--animated(href='/tours') Descúbrelas...