extends baseEmail

block content
    p Hla #{firstName},
    p Olvidaste tu contraseña? Manda una request con tu nueva contraseña y la confirmación de la misma. Click aquí: #{url}
    p ;)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Resetea tu contraseña!
    p   Si no has olvidado tu contraseña, ignora este mail!
    p subiendoalsur.info@gmail.com
    p - Sualsur, Madrid España.