extends base/base.pug

block content
    include components/_header.pug
    include components/_about.pug
    include components/_features.pug
    include components/_tours.pug
    include components/_review.pug
    include components/_contact-form.pug
    include components/_popup.pug