extends base/base.pug

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-md Cambiar Contraseña
            form.form.form--reset-password
                .form__group
                    label.form__label(for='password') Nueva contraseña
                    input#password.form__input.form__input--grey(type='password', placeholder='••••••••', required, minlength='8' autocomplete='new-password')
                .form__group.ma-bt-lg
                    label.form__label(for='password-confirm') Confirmar contraseña
                    input#password-confirm.form__input.form__input--grey(type='password', placeholder='••••••••', required, minlength='8' autocomplete='new-password')
                .form__group.right
                    button.btn.btn--small.btn--primary.btn--save-password(data-token=`${token}`)  Guardar contraseña